* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4em;
  color: #333;
}
.container {
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.p2 {
  padding: 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.header {
  width: 100%;
  height: 60px;
}
.header > .logo > img {
  width: 100px;
}
.header > .logo {
  width: 30%;
  margin-left: -35px;
  margin-bottom: -55px;
  z-index: 2;
}
.header > .main-nav {
  margin: auto;
}
.header > .main-nav > a {
  margin: 22px;
  padding: 0 20px;
  color: #222;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
}
.grid {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(200px, auto);
}

.two {
  grid-area: 1 / 1 / 2 / 2;
}
.three {
  grid-area: 1 / 2 / 3 / 4;
}
.four {
  grid-area: 2 / 1 / 3 / 2;
}
.five {
  grid-area: 3 / 1 / 5 / 2;
}
.seven {
  grid-area: 3 / 3 / 5 / 4;
}
.nine {
  grid-area: 5 / 1 / 7 / 3;
}
.eleven {
  grid-area: 6 / 3 / 8 / 4;
}
.fourteen {
  grid-area: 8 / 1 / 9 / 3;
}
.grid-item > img {
  width: 100%;
  height: 100%;
}
